@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    font-family: 'Times New Roman', Roboto, sans-serif;
}

body {
    background-color: #eceff1;
}

.show-container {
    padding-left: 10px;
    padding-right: 10px;
}

.show-data {
    width: 100%;
    background-color: #cfd8dc;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: inset;
}

.show-data h1 {
    text-align: center;
}

.show-data img {
    display: block;
}

.show-info{
    width: 100%;
}

@media (min-width: 800px){
    .show-data {
        display: flex;
    }

    .show-info{
        padding: 10px;
    }
}

@media (width < 800px){
    .show-data img{
        margin: auto;
    }

    .show-info p{
        text-align: center;
        padding: 10px;
    }
}


